@import "../../app-css-globals.scss";

carrinho {

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
}


.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
}

.container div {
    margin:1.5em 0 0 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 90px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
}